<div class="form-container-homestay ">
  <h1>Add new homeplace</h1>
  <%= simple_form_for @homestay do |f| %>
    <%= f.input :address %>
    <%= f.input :accomodation, collection: ["Apartment", "House"] %>
    <%= f.input :price %>
    <%= f.input :family_description %>
    <%= f.input :comments %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.input :number_of_users %>
    <%= f.input :tag_list, as: :check_boxes, collection: [ "No Smoking",  "No Pets", "No Kids" "Has Pets", "Has Kids"] %>
    <%= f.submit 'Add' %>
  <% end %>
</div>
