<div class="card-homestay">
  <div class="img-text">
    <img class="resize-img" src=<%="https://images.pexels.com/photos/2253879/pexels-photo-2253879.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"%> alt="family picture">
    <div class="bottom-left">
      <h2><%= homestay.country%>, <%= homestay.city%></h2>
    </div>
  </div>
  <div class="card-homestay-infos text-black">
    <h2><%= homestay.user.last_name %> Family</h2>
    <p><%= homestay.family_description %></p>
    <div class="bottom-right">
      <p><b>$<%= homestay.price %></b></p>
    </div>
  </div>
</div>
