<div class="card-homestay">
  <div class="img-text">
    <img class="resize-img" src=<%=homestay.img_url%> alt="family picture">
    <div class="bottom-left">
      <h2><%= homestay.address%></h2>
    </div>
  </div>
  <div class="card-homestay-infos text-black">
    <h2>The <%= homestay.user.last_name %> Family</h2>
    <p><%= homestay.family_description %></p>
    <div class="bottom-right">
      <p><b>$<%= homestay.price %></b></p>
    </div>
  </div>
</div>
