<div class="d-flex flex-column justify-content-between" style="min-height: 100vh;">
  <div>
    <div>
      <h3>Upcoming Trips 🎉</h3>
    </div>
    <div class="cards">
      <% @bookings.each do |booking| %>
        <div class="card-product">
          <img src="https://i.ibb.co/C8jn6Np/8ed47c5c-e6cd-46a5-98ad-530a6e3bc404.webp" />
          <div class="d-flex w-100 justify-content-between">
            <div class="card-product-infos">
              <h2><%= booking.user.last_name %> Family</h2>
              <p><strong>Wadi Rum, Aqaba Governorate, Jordan</strong></p>
            </div>
            <div>
              <%= link_to "Confirmed", "#", class: "btn btn-ghost disabled "%>
            </div>
          </div>
        </div>
        <h3>
        </h3>
      <% end %>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-between" style="min-height: 100vh;">
    <div>
      <div>
<div class="all-bookings">
  <h1><strong>Upcoming Trips</strong> 🎉 </h1>
  <% @bookings.each do |booking| %>
    <div class="card-with-info">
      <img class="family-photo" src= <%= booking.homestay.photos.attached? ? cl_image_path(booking.homestay.photos.first.key) : booking.homestay.img_url %>/>
      <div class="info-about-family">
        <h2><%= booking.homestay.user.last_name %> Family</h2>
        <p><strong><%= booking.homestay.address %></strong></p>
        <p><%= booking.booking_start %> - <%= booking.booking_end%></p>
      </div>
      <div class="card-status">
        <% if booking.status == "confirm" %>
          <p class="green-color"><%= booking.status %>ed</p>
        <% elsif booking.status == "decline" %>
          <p class="red-color"><%= booking.status %>d</p>
        <% else %>
          <p class="pending"><%= booking.status %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
